extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let bikes = results 
        
      each bikes, index in results
        .col-sm-2 
        div.col-sm-2(onclick=`buy(${index})`)
        
          p item_type: #{bikes.item_type}
          p item_name: #{bikes.item_name}
          p item_price: $#{bikes.item_price.toFixed(2)}

  a(href="/") Back to index

   script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }